body{
 	margin-top:60px;
}
.navbar {
	background-color: #008B8B;
	border-top: 5px solid transparent;
}
#navBar {
	width: 75%;
	min-width: 1000px;
}

.topicDiv {
	margin-top: 20px;
}

.topic {
	padding:2px;
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 7px;
	background-color: #E0FFFF;
	display: inline-block;
}

.navbar-brand {
	font-family: "Courier New", Courier, monospace;
	font-size: 150%;
	text-indent: 50px;
	margin: auto;
	color: white!important;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

.nav.navbar-nav.navbar-right a:hover {
    color: black;
}

.navbar-default .navbar-nav > .active a{
    color: #008B8B!important;
   	background: #E0FFFF;
 }

.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: black!important;
	background: #E0FFFF!important;
 }



#logOut {
	color: white;
	background-color: black;
	
}

#Element:hover {
	background-color: #E0FFFF;
}
.row{
	margin-bottom: 10px;	
}

.btn {
	border-style: none;
	color: #008B8B;
	background-color: rgb(234, 243, 228);
}

.btn:hover {
	border-style: none;
	color: white;
	background-color: black;
}

.btn-primary{
	color: #008B8B;
	background-color: #E0FFFF!;
  	vertical-align: middle;
  	border-style: none;
}
.btn-primary:hover{
	color: white;
	background-color: #008B8B;
  	vertical-align: middle;
}	

.QATitle {
	color: purple;
	text-decoration: underline;
}

#votingScore {
	text-align:center;
/* 	width:70px; */
}
#topics{
	padding:2px;
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 7px;
	background-color: #E0FFFF;
	display: inline-block;
}

.pager {
	float:left;
}

.pager li a{
	border-style: none;
	color: black;
	background-color: #E0FFFF
}

.pager li a:hover{
	border-style: none;
	color: white;
	background-color: black;
}

.col-center {
	float: none;
    margin: 0 auto;
}

#profilePic{
	width:25px;
	height:25px;
}

#leaderboardPhoto{
	width:50px;
	height:50px;
}

#profilePhoto{
	display: inline-block;
}

#idBlock {
	width: auto;
	display: inline-block;
}

#answerBlock {
	background-color: #f2ffff;
	padding:5px;
	margin-top: 10px;
}

#questionBlock {
	padding:2px;
	margin-top: 10px;
}

#questionThreadProfilePhoto{
	width:40px;
	height:40px;
}

#profileUserInfo{
	vertical-align: middle;
	padding-top: 0px;
	display: inline-block;
}


#questionTextBody{
	min-height: 100px;
}
#answerTextBody{
	min-height: 40px;
}

#textParagraph{
	min-height: 40px;
}

#questionTopics {
	margin-top: 20px;
}

