body{
	margin:60px;
}

#Element:hover {
	background-color: #f5f5f5;
}
.row{
	margin-bottom: 20px;	
}

#votingScore {
	text-align:center;
/* 	width:70px; */
}
#topics{
	padding:5px;
	margin:5px;
	background-color: #e5ecff;
}

.pager {
	float:left;
}

#profilePic{
	width:25px;
	height:25px;
}

#leaderboardPhoto{
	width:50px;
	height:50px;
}