/* Main CSS - used everywhere (login page has another corresponding CSS) */

/* main selectors (inc. body) */
body{
 	margin-top:60px;
 	background-image: url("../media/music-notes2.png");
 	background-repeat: no-repeat;
	background-position: top;
	background-attachment: scroll;	
}

h1 > a {
	color: white;
}

h1 > a:hover{
	color: aqua;
}

h3 {
	font-weight: bold;
}

h4 {
	font-size: 30px!important;
	padding-bottom: 15px;
}

/* NavBar properties */
.navbar {
/* 	background-color: ; */
	background-image: linear-gradient(90deg, #008B8B, #3D59AB);
	border-top: 5px solid transparent;
}

.navbar-brand {
	font-family: "Courier New", Courier, monospace;
	font-size: 150%;
	margin: auto;
	color: white!important;
}

.nav.navbar-nav.navbar-right li a ,.nav.navbar-nav.navbar-left li {
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.nav.navbar-nav.navbar-right a:hover {
    color: #E0FFFF;
    text-align: center;
}

.navbar-default .navbar-nav > .active a{
    color: #008B8B!important;
   	background: #E0FFFF;
   	border-radius: 5px;
 }

.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: black!important;
	background: #E0FFFF!important;
	border-radius: 5px;
 }

.nav-icon {
	font-size: 130%;	
}

/* Buttons (including hover and focus) throughout the website */
.nav-btn, .ansBtn, .form-btn{
	border-style: none;
	color: #008B8B;
	background-color: rgb(234, 243, 228);
	outline: 0 !important;
}

.ansBtn:focus, .form-btn:focus{
	border-style: solid;
	color: #008B8B;
	background-color: rgb(234, 243, 228);	
}

.ansBtn:hover, .form-btn:hover {
	border-style: none;
	color: rgb(234, 243, 228);
	background-color: #008B8B;
}

.nav-btn:hover, .nav-btn:focus {
	border-style: none;
	color: rgb(234, 243, 228);
	background-color: black;
}	

.nav-btn-primary, .form-btn-primary{
	color: white;
	background-color: #1C86EE;
  	vertical-align: middle;
  	border-style: none;
}
.nav-btn-primary:hover, .form-btn-primary:hover , .form-btn-primary:focus{
	color: black;
	background-color: #00F5FF;
  	vertical-align: middle;
}

/* Handle panel headers */
.panel-heading, .modal-header {
	color: white!important;
	background-image: linear-gradient(180deg, #3060f0, #ffffff)!important;
  	border-style: none;  	
	padding:30px 40px;	
}

.buttons, .modal-title {
	text-align: center;
}

.panel {
	border-style: none;
}

.panel-title {
	text-align: center;
}

/* Handle voting score */
.votingScore {
	text-align:center;
	min-width:60px;
}

/* Handle topics, their columns and every thing else regarding */
.topic {
	padding:2px;
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 7px;
	background-color: #E0FFFF;
	display: inline-block;
	border-radius: 5px;
}

.topicLink:hover, .topic:hover a, .topic:hover, .topicLink:focus, .topic:focus a, .topic:focus{
	color: white!important;
	background-color: #008B8B;
}

.topicDiv {
	margin-top: 20px;
}

.questionTopics {
	margin-top: 20px;
}

.topicGlyphCol {
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}

.topicsCol {
	padding-left: 0px;
	text-align: left;
}

/* Handle pager (page next/prev) */
.pager {
	float:left;
}

.pager li a{
	border-style: none;
	color: black;
	background-color: #E0FFFF
}

.pager li a:hover{
	border-style: none;
	color: white;
	background-color: black;
}

.pager li a:focus{
	border-style: solid;
	color: black;
	background-color: #E0FFFF
}

.leaderboardPhoto{
	width:50px;
	height:50px;
}

.table > tbody > tr > th {	
   	text-align: center;
   	vertical-align: middle;	  	
}

.col-center {
	float: none;
    margin: 0 auto;
}

.col-left-align {
	text-align: left;
	margin-top: 15px;
}

.col-center-align, .col-center-align > p {
	text-align: center;
	margin-top: 15px;
}

.table > tbody > tr > th {
	background-color: #e8faf9;
	font-size: 110%;	
}

.profilePhoto{
	display: inline-block;
}

/* General spans used */
.redSpan {
	color: red;
}

.smSpan {
	font-size:90%;
}

.xsSpan {
	font-size: 80%;
}

/* handle user profile links and photos */
.profilePic{
	width:18px;
	height:18px;
}

.userProfileLink {
	color: #008B8B;
}

.userProfileLink:hover {
	color: blue;
}

/*  handle user's picture sizes */
.questionThreadProfilePhoto{
	width:40px;
	height:40px;
}

.questionThreadProfilePhotoSM{
	width:30px;
	height:30px;
}

/* Handle profile view */
.profileUserInfo{
	vertical-align: middle;
	padding-top: 0px;
	display: inline-block;
}

.profileEntryDate{
	text-align: right;
}

/* Handle questions and answer block */
.answerTextBody{
	min-height: 40px;
}

.questionBlock {
	padding:2px;
	margin-top: 10px;
}

.answerBTns {
	margin-top:15px;
}

.answerBlock {
	background-color: #e8faf9;
	padding:5px;
	padding-top: 7px;
	padding-buttom: 7px;
	margin-top: 5px;
	border-radius: 5px;
}
