body{
 	margin-top:60px;
}

#Element:hover {
	background-color: #f5f5f5;
}
.row{
	margin-bottom: 10px;	
}

#votingScore {
	text-align:center;
/* 	width:70px; */
}
#topics{
	padding:2px;
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 7px;
	background-color: #e5ecff;
	display: inline-block;
}

.pager {
	float:left;
}

#profilePic{
	width:25px;
	height:25px;
}

#leaderboardPhoto{
	width:50px;
	height:50px;
}

#profilePhoto{
	display: inline-block;
}

#idBlock {
	width: auto;
	display: inline-block;
}

#questionThreadProfilePhoto{
	width:50px;
	height:50px;
}

#profileUserInfo{
	vertical-align: middle;
	padding-top: 0px;
	display: inline-block;
}


#questionTextBody{
	min-height: 100px;
}
#answerTextBody{
	min-height: 40px;
}

#textParagraph{
	min-height: 40px;
}

#questionTopics {
	margin-top: 20px;
}

