body{
 	margin-top:60px;
 	background-image: url("../media/ATMG_logo_faded_complete.png");
 	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
}
.navbar {
/* 	background-color: ; */
	background-image: linear-gradient(90deg, #008B8B, #3D59AB);
	border-top: 5px solid transparent;
}

.navbar-brand {
	font-family: "Courier New", Courier, monospace;
	font-size: 150%;
	margin: auto;
	color: white!important;
}

.nav.navbar-nav.navbar-right li a ,.nav.navbar-nav.navbar-left li a {
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}


.nav.navbar-nav.navbar-right a:hover {
    color: #E0FFFF;
    text-align: center;
}

.navbar-default .navbar-nav > .active a{
    color: #008B8B!important;
   	background: #E0FFFF;
   	border-radius: 5px;
 }

.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: black!important;
	background: #E0FFFF!important;
	border-radius: 5px;
 }

.nav-icon {
	font-size: 130%;	
}

.row{
	margin-bottom: 10px;	
}

.nav-btn, .ansBtn, .form-btn{
	border-style: none;
	color: #008B8B;
	background-color: rgb(234, 243, 228);
	outline: 0 !important;
}

.ansBtn:focus, .form-btn:focus{
	border-style: solid;
	color: #008B8B;
	background-color: rgb(234, 243, 228);	
}

.ansBtn:hover, .form-btn:hover {
	border-style: none;
	color: rgb(234, 243, 228);
	background-color: #008B8B;
}

.nav-btn:hover, .nav-btn:focus {
	border-style: none;
	color: rgb(234, 243, 228);
	background-color: black;
}	

.nav-btn-primary, .form-btn-primary{
	color: white;
	background-color: #1C86EE;
  	vertical-align: middle;
  	border-style: none;
}
.nav-btn-primary:hover, .form-btn-primary:hover , .form-btn-primary:focus{
	color: black;
	background-color: #00F5FF;
  	vertical-align: middle;
}

.answerBTns {
	margin-top:15px;
}

.panel-heading, .modal-header {
	color: white!important;
	background-image: linear-gradient(90deg, #00008B, #008B8B)!important;
  	border-style: none;  	
	padding:35px 50px;	
}

h4 {
	font-size: 30px!important;
}

.buttons, .modal-title {
	text-align: center;
}

.QATitle {
	color: purple;
	text-decoration: underline;
	font-size: 120%;
}

.votingScore {
	text-align:center;
	min-width:60px;
}

.topic {
	padding:2px;
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 7px;
	background-color: #E0FFFF;
	display: inline-block;
	border-radius: 5px;
}

.topicLink:hover, .topic:hover a, .topic:hover, .topicLink:focus, .topic:focus a, .topic:focus{
	color: white!important;
	background-color: #008B8B;
}

.topicDiv {
	margin-top: 20px;
}

.pager {
	float:left;
}

.pager li a{
	border-style: none;
	color: black;
	background-color: #E0FFFF
}

.pager li a:hover{
	border-style: none;
	color: white;
	background-color: black;
}

.pager li a:focus{
	border-style: solid;
	color: black;
	background-color: #E0FFFF
}

.col-center {
	float: none;
    margin: 0 auto;
}

.profilePic{
	width:18px;
	height:18px;
}

.leaderboardPhoto{
	width:50px;
	height:50px;
}

.table.tr.th {
	text-align: right!important;
}

.profilePhoto{
	display: inline-block;
}

.answerBlock {
	background-color: #f2ffff;
	padding:5px;
	padding-top: 7px;
	padding-buttom: 7px;
	margin-top: 5px;
	border-radius: 5px;
}

.questionBlock {
	padding:2px;
	margin-top: 10px;
}

.smSpan {
	font-size:90%;
}

.xsSpan {
	font-size: 80%;
}

.userProfileLink {
	color: #008B8B;
}

.userProfileLink:hover {
	color: purple;
}

.questionThreadProfilePhoto{
	width:40px;
	height:40px;
}

.questionThreadProfilePhotoSM{
	width:30px;
	height:30px;
}

.profileUserInfo{
	vertical-align: middle;
	padding-top: 0px;
	display: inline-block;
}

.answerTextBody{
	min-height: 40px;
}

.questionTopics {
	margin-top: 20px;
}

