body {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  background-color: black;
  vertical-align: middle;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    background-color: grey;
    color: white;
    
}

th{
	background-color: blue;
	color: white;
}

input{
	color: black;
}
.center {
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
    width: 70%;
}

.form-signin {
  max-width: 450px;
  position: relative;
  top:50%;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}