body {
	padding-top: 70px;
	padding-bottom: 40px;
	background-color: black;
	background-image: url("../media/backGround.png")!important;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover!important;
}

h1 {
	color: white;
	text-align: center;
	text-decoration: underline;
	font-family: "Courier New", Courier, monospace;
	font-size: 350%;
}

.logoDiv{
	text-align: center;
}

.logoImg{
	
	width: 250px;
	height: 250px;
}

textarea { resize:none; }

.center {
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
    width: 70%;
    
}

.col-md-4 {
	padding-top:20px;
	width: 400px;	
}

.redSpan {
	color: red;
}

.col-center {
	float: none;
    margin: 0 auto;
}

.panel {
	border-style: none;
}

.panel-title {
	text-align: center;
}	

.errors {
	text-align: center;
	color: red;
}