body {
	padding-top: 70px;
	padding-bottom: 40px;
	vertical-align: middle;
}

.center {
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
    width: 70%;
    
}

.col-md-4{
	padding-top:20px;
	width: 400px;
}