<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AllThatMusicGear</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LogAndRegServlet</display-name>
    <servlet-name>LogAndRegServlet</servlet-name>
    <servlet-class>allthatmusicgear.servlets.LogAndRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogAndRegServlet</servlet-name>
    <url-pattern>/LogAndRegServlet/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/AllThatMusicGearDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>QandAServlet</display-name>
    <servlet-name>QandAServlet</servlet-name>
    <servlet-class>allthatmusicgear.servlets.QandAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QandAServlet</servlet-name>
    <url-pattern>/QandAServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>allthatmusicgear.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerListener</display-name>
    <servlet-name>ServerListener</servlet-name>
    <servlet-class>allthatmusicgear.listeners.ServerListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerListener</servlet-name>
    <url-pattern>/ServerListener</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>allthatmusicgear.listeners.ServerListener</listener-class>
  </listener>
</web-app>