<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navBarController">
	<div class="container" id="navBar">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="questions.html#/newquestions">ATMG</a>			
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li data-toggle="popover" data-trigger="hover" data-content="Submit a New Question" title="Ask..." data-placement="bottom">
				<p class="btn btn-default navbar-btn btn-md nav-btn" href="#askQuestionModal" data-toggle="modal" >
					<span class="glyphicon glyphicon-edit nav-icon" aria-hidden="true" ></span>

				</p></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="newQNav" data-toggle="popover" data-trigger="hover" data-content="View questions that still weren't answered ordered by their submittion date" title="New Questions" data-placement="bottom">
					<a href="questions.html#/newquestions">New Questions</a></li>
				<li id="allQNav" data-toggle="popover" data-trigger="hover" data-content="View questions ordered by their ratings" title="Top Questions" data-placement="bottom">
					<a href="questions.html#/topquestions">Top Questions</a></li>
				<li id="topicsNav" data-toggle="popover" data-trigger="hover" data-content="View questions by topics" title="Topics" data-placement="bottom">
					<a href="topics.html#">Topics</a></li>
				<li id="leaderNav" data-toggle="popover" data-trigger="hover" data-content="View users' leaderBoard" title="LeaderBoard" data-placement="bottom">
					<a href="leaderboard.html#">Leaderboard</a></li>
				<li id="profileNav" data-toggle="popover" data-trigger="hover" data-content="View user's profile" title="Logged in User" data-placement="bottom">
					<a ng-href="profile.html#/user#{{loggedInUserNickName}}">
						<img src="{{loggedInUserPhotoURL}}" class="img-circle" id="profilePic" alt="missing profile" alt="Missing Photo">
						<u>{{loggedInUserNickName}} </u>
					</a>
				</li>
				<li data-toggle="popover" data-trigger="hover" data-content="Log out and go to login page" title="Log Out" data-placement="bottom"><a  href="login.html" ng-click="logOut()"><span class="glyphicon glyphicon-log-out nav-icon" ></span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="modal fade" id="askQuestionModal" role="dialog" ng-controller="navBarController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	         	<h4 class="modal-title">Submit a question:</h4>
	        </div>
			<div class="modal-body">
				<form ng-submit="submitQuestion()">
		      		<div class="form-group">
						<label for="question">Question:</label>
						<textarea class="form-control" rows="5" id="question" maxlength="300" ng-model="qText" name="questionText" placeholder="Question text" required autofocus></textarea>
					</div>
					<div class="form-group">
						<label for="topics">Topics:</label>
						<input class="form-control" ng-model="qTopics" name="questionTopics" placeholder="Headphones, Guitars, Amps, ..." required>
					</div>
					<button type="submit" class="btn btn-primary" value="Submit Question">Submit</button>
					<button type="button" class="btn btn-default" ng-click="resetQFields()" value="Reset">Reset</button>
			        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
  		</div>
</div>
