<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <link rel="icon" type="image/gif" href="media/ATMG_icon.gif" />
    <title>ATMG - Leaderboard</title>
   	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <!-- 	MainPage JS App -->
	<script type="text/javascript" src="js/mainPageApp.js"></script>
	<script type="text/javascript" src="js/navBarController.js"></script>
	<script type="text/javascript" src="js/leaderboardController.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

</head>
<body ng-app="mainPageApp">
	<!-- header directive -->
	<header></header>
	
	<div class="container" ng-controller="leaderboardCtrl">
		<h2><b>Leaderboard:</b></h2>
		<b>Total of {{userCount}} users</b>
		<nav>
  			<ul class="pager">
			    <li><a href="#" ng-click="prevPage()" title="Show previous 20 users">Previous</a></li>
			    <b>[ {{pageNum}} / {{maxPageNum}} ]</b>
			    <li><a href="#" ng-click="nextPage()" title="Show nex 20 users">Next</a></li>
  			</ul>
		</nav>
		<table class="table table-striped ">
 		<tr>
 			<th>Rank</th>
	 		<th>User</th>
	 		<th>Rating</th>
	 		<th>Expertise</th>
 		</tr>
 		<tr ng-repeat="user in allUsers">
 			<td class="col-md-1">
 				<p><b>#{{(pageNum-1)*20 + $index +1}}</b></p>
 			</td>
 			<td class="col-md-3">
 				<a class="userProfileLink" ng-href="profile.html#/user#{{user.nickName}}" title="See user's profile">
	 				<img src="{{user.photoURL}}" class="img-circle leaderboardPhoto" alt="Missing Photo">
	 				<b>{{user.nickName}}</b>
 				</a>
 			</td>
 			<td class="col-md-1">
 				{{user.userRating | number:2}}
 			</td>
 			<td class="col-md-7">
 				<span ng-repeat="topics in user.expertise" class="topic" title="See all questions related to this topic">
       				<a class="topicLink" ng-href="questions.html#/bytopic#{{topics}}" >{{topics}}</a>
	       		</span>
       		</td>
 		</tr>
 		</table>
	</div>
  </body>
</html>