<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 	 Our tab icon and Title	 -->
	<link rel="icon" type="image/gif" href="media/ATMG_icon.gif" />
    <title>ATMG - LogIn</title>
	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<!-- 	    Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--         our general and login css file -->
    <link href="css/login.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
<!--     	MainPage JS App and needed controllers -->
	<script type="text/javascript" src="js/mainPageApp.js"></script>
	<script type="text/javascript" src="js/logInController.js"></script>
</head>
<!-- login page body body consists of 2 form where only one is shown at a time using "add/remove class()" in JS - see also logInController.js -->
<body data-ng-app ="mainPageApp" data-ng-controller="logInController">
	<h1><a href="login.html#">AllThatMusicGear.com</a></h1><br>
	<div class ="container" id="content">
<!-- 		first and default show is the login form -->
		<div id="logInForm" class="row">
			<div class = "col-md-5 col-center">
				<div class="panel panel-info" >
					  <div class="panel-heading">
					    <h4 class="panel-title"><strong><span class="glyphicon glyphicon-log-in"> </span>&nbsp;&nbsp; Log in</strong></h4>
					  </div>
					  <div class="panel-body">
					    <form data-ng-submit="logIn()">
						    <div class="form-group">
						    	<label for="username">
						    		<span class="glyphicon glyphicon-user"></span> User Name:
					    		</label>
					    		<input type="text" class="form-control" title="Username is required" maxlength="10" placeholder="Username" data-ng-model="logUserName" data-ng-change="clearLogInError()" required autofocus>
						   	</div>
						   	<div class="form-group">
						   		<label for="pwd" class="control-label"><span class="glyphicon glyphicon-eye-open"></span> Password:</label>
					   			<input type="password" class="form-control" title="Password is required" maxlength="8" placeholder="Password" data-ng-model="logPassword" data-ng-change="clearLogInError()" required/>
						   	</div>
						    <p class="errors hidden" id="logInError">{{logInError}}</p>
						    <p class="buttons">
						   	<button type="submit" class="btn btn-primary form-btn-primary" value="Log In">
						   		<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
						   		Log In
						   	</button>
 							<button type="button" class="btn btn-default form-btn" data-ng-click="resetLogFields()" value="Reset">
 								<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
 								Clear
							</button>
 							<p class="buttons">New here? <a href="" data-ng-click="showReg()">Create a User profile</a> </p>
						</form>
					  </div>
				</div>
			</div>
		</div>
<!-- 		if a new user wants to register this form will show instead -->
		<div id="registerForm" class="row hidden">
			<div class = "col-md-5 col-center">
				<div class="panel panel-success" >
					  <div class="panel-heading">
						    <h4 class="panel-title"><strong><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp; User Registration</strong></h4>
					  </div>
					  <div class="panel-body">
					    <form data-ng-submit="register()">
						    <div class="form-group">
						    	<label for="rusername"><span class="glyphicon glyphicon-user"> </span> User Name: <span class="redSpan"> *</span></label>
					    		<input type="text" class="form-control" id="rusername" placeholder="Username" title="Username is required" maxlength="10" data-ng-model="regUserName" data-ng-change="validateUserName()" required >
						   	</div>
						   	<div class="form-group">
						   		<label for="rpwd"><span class="glyphicon glyphicon-eye-open"> </span> Password: <span class="redSpan"> *</span></label>
					   			<input type="password" class="form-control" id="rpwd" placeholder="Password" title="Password is required" maxlength="8" data-ng-model="regPassword" required>
						   	</div>
						   	<div class="form-group">
						    	<label for="rnickname"><span class="glyphicon glyphicon-headphones"></span> Nickname: <span class="redSpan"> *</span></label>
					    		<input type="text" class="form-control" id="rnickname" placeholder="Nickname" title="Nickname is required" maxlength="20" data-ng-model="regNickName" data-ng-change="validateNickName()" required>
						   	</div>
						   	<div class="form-group">
						    	<label for="rdescription"><span class="glyphicon glyphicon-pencil"></span> Description:</label>
					    		<textarea class="form-control" rows="2" id="rdescription" placeholder="Description" maxlength="50" data-ng-model="regDesc"></textarea>
						   	</div>
						   	<div class="form-group">
						    	<label for="rphoto"><span class="glyphicon glyphicon-picture"></span> Profile Picture URL:</label>
					    		<input type="url" class="form-control" id="rphoto" placeholder="http://www.example.com/myphoto.jpg" data-ng-model="regPhoto">
						   	</div>
						    <p class="errors hidden" id="regError">{{registerError}}</p>
						    <p class="buttons">
						   	<button type="submit" class="btn btn-primary form-btn-primary" value="Register">
						   		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						   		Register and login
						   	</button>
 							<button type="button" class="btn btn-default form-btn" data-ng-click="resetRegFields()" value="Reset">
 								<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
 								Clear
 							</button>
 							<p class="buttons">Already a member? <a href="" data-ng-click="showLogin()">Log In</a> </p>
 							<span class="redSpan">*</span> - Required Fields<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>
