<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>All That Music Gear</title>
   	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <!-- 	MainPage JS App -->
	<script type="text/javascript" src="js/mainPageApp.js"></script>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

</head>
<body ng-app="mainPageApp">
	<!-- header directive -->
	<header></header>
	
	<div class="container" id="questions" ng-controller="questions">
		<div class="row">
		<h1>All Questions:</h1><br>
		<span class="col-md-4">
			<nav>
	  			<ul class="pager">
				    <li><a href="#" ng-click="prevPage()">Previous</a></li>
				    <b>[{{pageNum}}/{{maxPageNum}}]</b>
				    <li><a href="#" ng-click="nextPage()">Next</a></li>
	  			</ul>
			</nav>
		</span>
		</div>
	   	<div class="row" ng-repeat="qstn in questions">
		   	<div class="col-md-10" id="Element">
		       	<div class="col-md-1" id="votingScore"> 
		        	<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="voteQuestion(qstn.qID, 1)">
					<span class="glyphicon glyphicon-menu-up" aria-hidden="true" ></span>
					</button>
					<br>{{qstn.qVotingScore}}<br>
					<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="voteQuestion(qstn.qID, -1)">
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</button>
				</div>
		       	<div class="col-md-9" id="elementBody">
		       		<div class="row">
			       		<p>{{qstn.qText}}</p>
		       		</div>
		       		<div class="row">
			       		<p> question rating: {{qstn.qRating}}</p>
			       		<p>nickname: <b>{{qstn.qUserNickName}}</b> date : {{qstn.qSubDate | date:'medium' }}</p>
		       			<button type="button" class="btn btn-default pull-right" ng-click="showAnswerBox=!showAnswerBox" ng-init="showAnswerBox=false" aria-label="Left Align">
							<span class="glyphicon glyphicon-plus" aria-hidden="true">Answer</span>
						</button>	       		
			       		<span ng-repeat="t in qstn.qTopics"><mark>{{t}}</mark>, </span>
		       		</div>
				</div>
	   			<div class="row" id="answers" >
					<div class ="col-md-5 col-md-offset-1" ng-repeat="anwr in qstn.answers">
						<p>answerID:{{anwr.aID}}</p>
					</div>
				</div>
				
				<div class="row" ng-show="showAnswerBox">
					<div class ="col-md-5 col-md-offset-1">
						<form ng-submit="submitAnswer(qstn.qID, aText)">
							<textarea class="form-control" rows="5" id="question" maxlength="300" ng-model="aText" name="answerText" placeholder="Your answer" title="Answer can't be blank" required autofocus></textarea>
							<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
							<button type="button" class="btn btn-default" ng-click='aText=""' value="Reset">Reset</button>
						</form>
					</div>
			</div>
		   	</div>
	   		
		</div>
	</div>
	
aID: 1
aSubDate: 1454241074000
aText: "yes"
aUserNickName: "vad"
aVotingScore: 26
qID: 2
	
	<!-- footer directive -->
	<footer></footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>