<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LogIn - AllThatMusicGear</title>
	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<!-- 	Log In JS App -->
	<script type="text/javascript" src="js/logInApp.js"></script>
	
<!--     Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/tables.css" rel="stylesheet">
</head>

<body>
<div class="center" ng-app ="logInApp" ng-controller="logInAppController">
<!--  create a table with all current users -->
	<h1> Users Information</h1>
	
	<!--  This button will only be shown if user is logged in -->
	<p> {{logedInUserNickName}} <br> Total Users: {{counter}} </p>
	<form action="http://localhost:8080/AllThatMusicGear/html/Main.html" ng-style="gotomainpagevis">
		<input type="submit" value="Go To Main Page" >
	</form>
	<div>
		<table>
		  <tr>
			<th>Name</th>
			<th>Password</th>
			<th>NickName</th>
			<th>Description</th>
			<th>Photo</th>
			<th>User Rating</th>
		  </tr>  
		  <!-- output each result into the table -->
		  <tr ng-repeat="x in allUsers"> 
		    <td> {{x.userName}} </td>
		    <td> {{x.password}} </td>
		    <td> {{x.nickName}} </td>
		    <td> {{x.descreption}} </td>
		    <td> <img src={{x.photoURL}} style="width:50px;height:50px" alt="Missing Photo"></td>
		    <td> {{x.userRating | number:2}} </td>
		  </tr>
		</table>
	</div>
<br><br>
<h1>LogIn</h1>
<form>
	<p>
		Log In: 
		{{logInError}}<br>
		<input type="text" ng-model="logUserName" ng-change="clearLogInError()"/>
		<input type="password" ng-model="logPassword" ng-change="clearLogInError()"/>
		<input type="submit" ng-click="logIn()" value="Log In">
		<input type="button" ng-click="resetLogFields()" value="Reset">
	</p>
</form>


<h1>Register A New User</h1>
<form>
	<p>
		Register a new user: 
		{{registerError}}<br>
		<input type="text" ng-model="regUserName" name="userName" ng-change="validateUserName()"/>
		<input type="password" ng-model="regPassword"  name="password"/>
		<input type="text" ng-model="regNickName" name="nickName" ng-change="validateNickName()"/>
		<input type="text" ng-model="regDesc" name="descreption"/>
		<input type="url" ng-model="regPhoto" name="phtoUrl"/>
		<input type="submit" ng-click="register()" value="Register" >
		<input type="reset" ng-click="resetRegFields()" value="Reset">
	</p>
</form>

<h1> Submit a New Question</h1>
<form>
	<p>
		Submit a New Question: 
		{{questionError}}<br>
		<input type="text" ng-model="qText" name="questionText" />
		<input type="text" ng-model="qTopics"  name="questionTopics"/>
		<input type="submit" ng-click="submitQuestion()" value="Submit Question" >
		<input type="reset" ng-click="resetQFields()" value="Reset">
	</p>
</form>

<h1> New Questions: {{qNewCounter}}</h1>
<div>
	<table>
	  <tr>
		<th>ID</th>
		<th>User Nick Name</th>
		<th>Text</th>
		<th>Submission Date</th>
		<th>Voting Score</th>
		<th>Rating</th>
		<th>Topics</th>
		<th>Vote</th>
		<th>Answer</th>
	  </tr>  
	  <!-- output each result into the table -->
	  <tr ng-repeat="x in newQuestions"> 		  
	    <td> {{x.qID}} </td>
	    <td> {{x.qUserNickName}} </td>
	    <td> {{x.qText}} </td>
	    <td> {{x.qSubDate | date:'medium'}} </td>
	    <td> {{x.qVotingScore}}</td>
	    <td> <span>{{x.qRating | number:2}}</span> </td>
	    <td> <span ng-repeat="y in x.qTopics">{{y}}<br></span> </td>
	    <td> 
		    <div ng-click="voteQuestion(x.qID, x.qUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-thumbs-up"></span> Vote
	        </div>
	        <div ng-click="deVoteQuestion(x.qID, x.qUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-thumbs-down"></span> deVote
	        </div>
        </td>
        <td>
        	<div ng-click="answerQuestion(x.qID, x.qUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-pencil"></span> Answer this Question
	        </div>
        </td>
	  </tr>
	</table>
</div>

<h1> All Questions: {{qCounter}}</h1>
<div>
	<table>
	  <tr>
		<th>ID</th>
		<th>User Nick Name</th>
		<th>Text</th>
		<th>Submission Date</th>
		<th>Voting Score</th>
		<th>Rating</th>
		<th>Topics</th>
		<th>Vote</th>
		<th>Answer</th>
	  </tr>  
	  <!-- output each result into the table -->
	  <tr ng-repeat="x in allQuestions"> 		  
	    <td> {{x.qID}} </td>
	    <td> {{x.qUserNickName}} </td>
	    <td> {{x.qText}} </td>
	    <td> <span>{{x.qSubDate | date:'medium'}}</span> </td>
	    <td> {{x.qVotingScore}}</td>
	    <td> <span>{{x.qRating | number:2}}</span> </td>
	    <td> <span ng-repeat="y in x.qTopics">{{y}}<br></span> </td>
	    <td> 
		    <div ng-click="voteQuestion(x.qID, x.qUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-thumbs-up"></span> Vote
	        </div>
	        <div ng-click="deVoteQuestion(x.qID, x.qUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-thumbs-down"></span> deVote
	        </div>
        </td>
        <td>
        	<div ng-click="answerQuestion(x.qID, x.qUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-pencil"></span> Answer this Question
	        </div>
        </td>
	  </tr>
	</table>
</div>

<h1> Submit a New Answer</h1>
<form>
	<p>
		Submit a New Answer: 
		{{answerError}}<br>
		Answering Question #{{qToAnser}} <br>
		<input type="text" ng-model="aText" name="answerText" />
		<input type="submit" ng-click="submitAnswer()" value="Submit Answer" >
		<input type="reset" ng-click="resetAFields()" value="Reset">
	</p>
</form>


{{remark}}<br>

<h1> All Answers</h1>
<div>
	<table>
	  <tr>
		<th>ID</th>
		<th>Q-ID</th>
		<th>User Nick Name</th>
		<th>Text</th>
		<th>Submission Date</th>
		<th>Voting Score</th>
		<th>Vote</th>
	  </tr>  
	  <!-- output each result into the table -->
	  <tr ng-repeat="x in allAnswers"> 		  
	    <td> {{x.aID}} </td>
	    <td> {{x.qID}} </td>
	    <td> {{x.aUserNickName}} </td>
	    <td> {{x.aText}} </td>
	    <td> <span>{{x.aSubDate | date:'medium'}}</span> </td>
	    <td> {{x.aVotingScore}}</td>
	    <td> 
		    <div ng-click="voteAnswer(x.aID, x.qID, x.aUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-thumbs-up"></span> Vote
	        </div>
	        <div ng-click="deVoteAnswer(x.aID, x.qID, x.aUserNickName)" class="btn btn-info btn-sm">
	          <span class="glyphicon glyphicon-thumbs-down"></span> deVote
	        </div>
        </td>
	  </tr>
	</table>
</div>



</div>




	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>



<!-- <!DOCTYPE html> -->
<!-- <html ng-app lang="en"> -->
<!--   <head> -->
<!--     <meta charset="utf-8"> -->
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--     The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!--     <title>LogIn - AllThatMusicGear</title> -->

 	<!--  Angular -->
<!-- 	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script> -->
<!-- 	<script type="text/javascript" src="js/logInApp.js"></script> -->
<!--     Bootstrap -->
<!--     <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
<!--     <link href="css/login.css" rel="stylesheet"> -->

<!--   </head> -->
<!--   <body>  -->

<!-- 	<div ng-controller="logInAppController"> -->
<!-- 			{{userName}} -->
<!-- 	</div> -->
	
<!-- 	<div class="container"> -->
<!--       <form class="form-signin" > -->
<!--         <h2 class="form-signin-heading" >Welcome To AllThatMusicGear</h2> -->
<!--         <p>Please Sign In</p> -->
<!--         <label for="inputEmail" class="sr-only">Email address</label> -->
<!--         <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
<!--         <label for="inputPassword" class="sr-only">Passsword</label> -->
<!--         <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
<!--         <div class="checkbox"> -->
<!--           <label> -->
<!--             <input type="checkbox" value="remember-me"> Remember me -->
<!--           </label> -->
<!--         </div> -->
<!--         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
<!--       </form> -->

<!--     </div> /container -->
	
	
<!--     jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!--     Include all compiled plugins (below), or include individual files as needed -->
<!--     <script src="bootstrap/js/bootstrap.min.js"></script> -->
<!--   </body> -->
<!-- </html> -->