<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/gif" href="media/ATMG_icon.gif" />
    <title>ATMG - Topics</title>
   	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
   	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    <!-- 	MainPage JS App -->
	<script type="text/javascript" src="js/mainPageApp.js"></script>
	<script type="text/javascript" src="js/navBarController.js"></script>
	<script type="text/javascript" src="js/topicController.js"></script>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

</head>
<body ng-app="mainPageApp">
	<!-- header directive -->
	<header></header>
	
	<div class="container" ng-controller="topicsCtrl">
		<h2><b>Topics:</b></h2>
		<b>Total of {{topicCount}} topics</b>
		<div class="row">
			<nav>
	  			<ul class="pager">
				    <li><a href="" ng-click="prevPage()">Previous</a></li>
				    <li><b>[ {{pageNum}} / {{maxPageNum}} ]</b></li>
				    <li><a href="" ng-click="nextPage()">Next</a></li>
	  			</ul>
			</nav>
		</div>
		<div class="row">
			<div class="topicDiv">
	     		<span ng-repeat="topic in topics" class="topic" ng-style="topicCloudStyle(topic.tPop)">
	     			<a ng-href="questions.html#/bytopic#{{topic.topic}}" title="See all questions related to this topic">{{topic.topic}}</a>
	     		</span>
			</div>
		</div>
	</div>    
  </body>
</html>